body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  height: 100vh;
  padding: 20px;
  margin: 0;
}

#search-form {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.loader {
  display: none;
  text-align: center;
  margin: 20px auto;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
}

.photo-card {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  width: 250px;
  border-radius: 10px;
}

.photo-card img {
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
}

.info {
  margin-top: 10px;
  font-size: 14px;
}
